﻿@model List<Table_1>
@{
    ViewBag.Title = "Home Page";
}
<div class="row notes">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">Create Note</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        @Html.Label("Name note")
                        @Html.TextBox("name", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Text note")
                        @Html.TextArea("text", new { rows = 5, @class = "form-control"})
                    </div>
                    <button type="button" class="btn btn-default" id="create">Create note</button>
                </form>
            </div>
        </div>
    </div>
    @foreach (var item in Model.OrderByDescending(x => x.date))
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">@item.name<span class="glyphicon glyphicon-remove pull-right" data-id="@item.id" data-delete-note style="color:red"></span></div>
                <div class="panel-body">
                    <div class="note-text">
                       @item.text
                    </div>
                    <div class="note-date">
                        @item.date
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("#create").click(function () {
        var data = $("input, textarea").serialize();
        var noteName = $('#name').val();
        var noteText = $('#text').val();

        if (noteName.length == 0 || noteText.length == 0) {
            alert('Please write note name and text')
            return;
        }
        

        $.ajax({
            type: "POST", 
            url: "Home/CreateNote", 
            data: data, 
            dataType: "application/json; charset=utf-8"  
        }).always(function (res) {
                if (res.status >= 200 && res.status <= 300) {
                    location.reload();
                } else {
                    alert("error");
                }
            }); 
    });

    $("[data-delete-note]").click(function () {
        var id = $(this).data("id");
        $(this).closest('.col-md-4').hide();
        $.get("./Home/DeleteNoteById/" + id);
    });
</script>