﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    resize: none
}

.notes {
    margin-top: 20px;
}

.notes .panel {
    height: 330px;
}

[data-delete-note] {
    cursor: pointer;
}

.note-text {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 240px;
    word-break: break-all;
}

.note-date {
    position: absolute;
    bottom: 30px;
}